body{
    font-family: 'Inter', sans-serif !important;
    // overflow-y: hidden;
}

$blue : #3576F6;
button, input, optgroup, select, textarea {
    font-family: 'Inter', sans-serif !important;
}

.background-primary{
    background: #F3F8FE;
}

.reload{
    position: fixed;
    bottom: 40px;
    right: calc(50vw - 30px);
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.background-primary > div:last-child{
background-color: transparent;
box-shadow: unset;
}

.background-primary input{
    outline: none;
}

.background-primary button{
    background-color: $blue !important; 
    letter-spacing: 0 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border-radius: 78px;
    &.uppercase{
        text-transform: unset;
    }
}

.background-primary input:focus, .background-primary input{
    box-shadow: none !important;
    border: none;
}

.background-primary input{
    border-radius: 11px;
}

.background-primary form > div{
    margin-left: auto;
    margin-right: auto;
    max-width: 355px;
    button{
        width: 100%;
        height: 56px;
        background-color: $blue;
        justify-content: center;
    }
}

.background-primary form > div:nth-child(3),
.background-primary form > div:nth-child(2){
    background-color: #FFFFFF !important;
    border-radius: 20px;
    padding: 7px 14px;
    max-width: 355px;
    label{
        color: #8A8A8A;
        font-size: 14px;
    }
    input{
        padding: 0;
        line-height: 2;
        font-weight: 500;
        color: #333333;
    }
    box-shadow: 0px 4px 10px #d8e1f1be;
}

.background-primary input[type='checkbox']:checked{
    background-color: $blue;
}

.background-primary .font-sans{
    font-family: 'Inter', sans-serif !important;
}

.reset-contaiener{
    display: flex;
    justify-content: space-between;
}

.background-primary .mt-4{
    margin-top: 20px;
}

.background-primary > div:last-child{
    margin-top: 10px;
}

.row{
    display: flex;
}

.jtc-all{
    align-items: center;
    flex-direction: row;
    input{
        padding-left: 10px !important;
        margin-left: 12px;
    }
    i{
        font-size: 20px;
        padding-top: 8px;
        color: #030303ce;
    }
}

@media screen and (max-width: 756px){
    .background-primary{
        padding-top: 7vh;
    }
    .background-primary form > div:nth-child(3),
    .background-primary form > div:nth-child(2){
        label{
            color: #8A8A8A;
        }
        input{
            padding: 0;
            line-height: 2;
            font-size: 20px;
            font-weight: 500;
            color: #333333;
        }
    }

    .text-sm{
        font-size: 18px !important;
        color: #8A8A8A;
    }
    .background-primary form > div button{
        font-size: 18px !important;
    }
    .antialiased{
        position: fixed !important;
        //overflow-y: hidden !important;
        min-width: 100%;
    }
    .unfixed{
        position: static !important;
    }
    .mt-4 > label .text-sm{
        font-size: 14px !important;
        color: #8A8A8A;
    }

    .mt-4 > a.text-sm{
        font-size: 14px !important;
        color: #8A8A8A;
    }
}
html{
    background-color: #F3F8FE;
}

form .mt-4:last-child{
    justify-content: space-between;
    display: flex;
    padding: 0 20px;
}

.min-h-screen{
    min-height: 0;
}

.background-primary > div > svg{
    margin-bottom: 8vh;
}

.background-primary > .w-full{
    z-index: 1;
}

.antialiased{
    position: relative;
    span.closetarget{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
        content: '';
        width: 100%;
        height: 100%;
    }
}

